.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-link {
  position: relative;
}

.nav-link.active {
  color: var(--color-primary);
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-primary);
}